/*Author: Fq
Author URL: instagram/rabbit.media
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

p {
    padding: 0;
    margin: 0;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

/*--banner--*/

/*---*/
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    outline: none;
}

/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0 0;
    max-width: 0;
    border-bottom: 2px solid #062f3c;
    /*    color:  ;*/
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}

/*----*/

.header {
    position: fixed;
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    background: #fafafa;
    opacity: 0.9;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    margin-top: 15px;
    min-height: auto;
}

.navbar-default .navbar-nav > .active > a {
    color: #007ea3;
    background: none;
    padding: 10px 0;
}

div#bs-example-navbar-collapse-1 {
    float: right;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #005d7d;
    background: none;
}

.navbar-default .navbar-nav > li > a {
    color: #007ea3;
    font-size: 1.2em;
    padding: 10px 0;
    margin: 0 0.8em;
    font-family: 'Questrial', sans-serif;
}

.logo a {
    text-decoration: none;
    color: #005d7d;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #005d7d;
    background: none;
    outline: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #007ea3;
    background: none;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 0px 0px;
    opacity: 0.8;
}

.navbar-brand:hover {
    opacity: 1;
}

.navbar-brand img {
    margin: 0 auto;
    margin-top: -8.5%;
    width: 100%;
    height: auto;
}

/*main header*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.promotions {
    padding: 5em 0;
    background: #F6F9FD;
}

.promotion-grids, .about-grids {
    margin-top: 4em;
}

h2.tittle {
    font-size: 3.5em;
    text-align: center;
    color: #062f3c;
}

.promation-grid h4 {
    font-size: 1.5em;
    background: #062f3c;
    padding: 0.5em;
    color: #fff;
}

.promation-grid h5 {
    font-size: 1em;
    color: #fff;
}

.prom-bottom {
    background: #007ea3;
}

.prom-left {
    float: left;
    width: 50%;
    background: rgb(16, 148, 187);
    padding: 1em;
}

.prom-right {
    float: left;
    width: 50%;
    padding: 1em;
}

.promotions span {
    text-align: center;
    display: block;
    font-size: 1.4em;
    margin-top: 0.5em;
    color: #777;
}

.promation-grid p {
    font-size: 1em;
    line-height: 2em;
    padding-top: 0.8em
}

/*-- w3layouts --*/
.promation-grid {
    overflow: hidden;
}

.promation-grid:hover img {
    webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.promation-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

h3.tittle {
    font-size: 3.5em;
    text-align: center;
    color: #062f3c;
}

.about-section {
    padding: 5em 0;
}

.about-grid1 h4 {
    font-size: 1.8em;
    color: #007ea3;
}

.about-grid1 p {
    font-size: 1em;
    line-height: 2em;
    padding-top: 0.8em
}

.about-grid1 i {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #fff;
    background: #062f3c;
    padding: 1em;
    border-radius: 50px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: 2px solid transparent;
}

.about-grid1 i:hover {
    background: #fff;
    border: 2px solid #007ea3;
    /*-- agileits --*/
    color: #062f3c;
}

.about-top1 {
    margin: 1.5em 0;
}

.about-left {
    float: left;
    width: 15%;
    text-align: center;
}

.about-right {
    float: left;
    width: 85%;
}

/*-- featured-services --*/
.featured-grd {
    text-align: center;
    box-shadow: 1px 1px 7px 6px #E3E1E1;
    -webkit-box-shadow: 1px 1px 7px 6px #E3E1E1;
    -moz-box-shadow: 1px 1px 7px 6px #E3E1E1;
    -o-box-shadow: 1px 1px 7px 6px #E3E1E1;
    -ms-box-shadow: 1px 1px 7px 6px #E3E1E1;
    padding: 2em 1em;
}

.featured-grd span {
    font-size: 2em;
    color: #007ea3;
}

.featured-grd h5 {
    text-transform: capitalize;
    font-size: 1.5em;
    color: #062f3c;
    letter-spacing: 1px;
    margin: 1em 0;
}

.featured-grd p {
    font-size: 1em;
    line-height: 1.8em;
    margin: 0 0 2em;
}

.featured-grids {
    margin: 3em 0 0;
}

/*-- //featured-services --*/
/*--hover effect6--*/
.effect6 {
    cursor: pointer;
    height: auto;
    /*-- w3layouts --*/
    line-height: 40px ! important;
    text-align: center;
    overflow: hidden;
    padding: 4px 50px;
    background: #062f3c;
    font-size: 1em;
    border: none;
    border-radius: 0;
}

.effect6 {
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3s ease;
    text-shadow: 0 0 0 #fff, 0 -45px 0 #062f3c;
}

@-webkit-keyframes drop {
    0% {
        text-shadow: 0 0 0 #fff, 0 -45px 0 #062f3c;
    }
    20% {
        text-shadow: 0 0 0 #fff, 0 -15px 0 #062f3c;
    }
    30% {
        text-shadow: 0 15px 0 #fff, 0 0px 0 #062f3c;
    }
    40% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c;
    }
    41% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c, 0 -45px 0 #fff;
    }
    70% {
        text-shadow: 0 45px 0 #fff, 0 15px 0 #062f3c, 0 0px 0 #fff;
    }
    80% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
    100% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
}

/*safari and chrome*/
@keyframes drop {
    0% {
        text-shadow: 0 0 0 #fff, 0 -45px 0 #062f3c;
    }
    20% {
        text-shadow: 0 0 0 #fff, 0 -15px 0 #062f3c;
    }
    30% {
        text-shadow: 0 15px 0 #fff, 0 0px 0 #062f3c;
    }
    40% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c;
    }
    41% {
        text-shadow: 0 45px 0 #fff, 0 0px 0 #062f3c, 0 -45px 0 #fff;
    }
    70% {
        text-shadow: 0 45px 0 #fff, 0 15px 0 #062f3c, 0 0px 0 #fff;
    }
    80% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
    100% {
        text-shadow: 0 45px 0 #fff, 0 45px 0 #062f3c, 0 0px 0 #fff;
    }
}

.btn.effect6:hover {
    -webkit-animation: drop .6s 1 linear;
    animation: drop .6s 1 linear;
    background: #007ea3;
}

.featured-services {
    padding: 2em 0;
}

/*--end hover--*/
.banner-bottom1-grid-right {
    text-align: right;
    margin: 2.5em 0 0;
}

/*-- //more --*/
.gallery {
    /*-- agileits --*/
    padding: 5em 0;
}

.gallery-grids {
    margin-top: 4em;
}

/*gallery*/
.da-thumbs {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.da-thumbs li {
    float: left;
    margin: 0.4%;
    background: #fff;
    padding: 8px;
    position: relative;
    width: 32.4%;
}

.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
}

.da-thumbs li a {
    overflow: hidden;
}

.da-thumbs li a div {
    position: absolute;
    background: none;
    width: 100%;
    height: 91%;
}

.da-thumbs li a div h5 {
    color: #fff;
    font-size: 1.8em;
    margin: 3.5em 0 0 0;
    text-align: center;
}

/*gallery*/
/*-- team --*/
.team_gds {
    margin-top: 4em;
}

.team {
    padding: 5em 0;
    background: #F6F9FD;
}

.team_pos {
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    margin: auto;
}

.team_gd1:hover .team_pos .team_back {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    height: 100%;
}

.team_pos .team_back {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    content: '';
    left: 0;
    top: 0;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    display: block;
}

.team_pos img {
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    width: 100%;
    border: 1px solid #B7B7B7;
}

.team_info {
    position: absolute;
    width: 100%;
    top: 42%;
    text-align: center;
    left: 0;
    z-index: 9999;
}

.team_info a {
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    margin-left: 7px;
    transform: scale(0) rotate(180deg);
    -moz-transform: scale(0) rotate(180deg);
    -webkit-transform: scale(0) rotate(180deg);
    -ms-transform: scale(0) rotate(180deg);
    -o-transform: scale(0) rotate(180deg);
    transition: all 0.3s linear 0.2s;
    -moz-transition: all 0.3s linear 0.2s;
    -webkit-transition: all 0.3s linear 0.2s;
    -ms-transition: all 0.3s linear 0.2s;
    -o-transition: all 0.3s linear 0.2s;
}

.team_info a:before {
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    width: 100%;
}

.team_info a i.fc1 {
    background: url(../images/social2.png) no-repeat -41px 1px #3b5998;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team_info a i.fc2 {
    background: url(../images/social2.png) no-repeat 1px 1px #55acee;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team_info a i.fc3 {
    background: url(../images/social2.png) no-repeat -80px 1px #dc4e41;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.team_info a:after {
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s linear 0.1s;
    -moz-transition: all 0.3s linear 0.1s;
    -webkit-transition: all 0.3s linear 0.1s;
    -ms-transition: all 0.3s linear 0.1s;
    -o-transition: all 0.3s linear 0.1s;
    width: 100%;
}

.team_gd1:hover .team_pos img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.team_gd1:hover .team_info a {
    transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
}

.team_info a:hover {
    opacity: 0.8;
}

.team_gd1 h4 {
    text-align: center;
    font-size: 1.5em;
    color: #007ea3;
    margin: 25px 0 7px;
}

.team_gd1 p {
    text-align: center;
    font-size: 1em;
    line-height: 2em;
}

.team_gd1 span {
    text-align: center;
    font-size: 1em;
    margin: 0 0 0.5em 0;
    display: block;
    color: #062f3c;
}

.news {
    padding: 5em 0;
    text-align: center;
}

.news-grids {
    margin-top: 4em;
}

.news-grid h4 {
    font-size: 1.5em;
    background: #062f3c;
    padding: 0.5em;
    color: #fff;
}

.new-bottom {
    background: #007ea3;
    padding: 0.8em;
    font-size: 1.2em;
    color: #fff;
}

.news-grid p {
    font-size: 1em;
    line-height: 2em;
    padding: 2em 1.5em 2em;
}

.news-text {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.news-gr p {
    font-size: 1em;
    line-height: 1.8em;
    color: #777;
    width: 90%;
    margin: 0 auto;
}

h3.tittle1 {
    font-size: 3em;
    text-align: center;
    color: #062f3c;
    padding: 0.5em 0;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #FFFFFF;
}

/*-- //team --*/
/*--contact--*/
.your-top {
    border: 1px solid #ADADAD;
}

.contact-grids {
    margin-top: 4em;
}

.your-top:nth-child(2) {
    margin: 2.5em 0;
}

.contact-grids i {
    width: 35px;
    height: 35px;
    display: inline-block;
    float: right;
    border: 2px solid #062f3c;
    color: #062f3c;
    border-radius: 100px;
    line-height: 2em;
    text-align: center;
    margin: 1% 2% 0;
    font-size: 1em;
}

.contact-grids input[type="text"], .grid-contact-in textarea {
    background: none;
    width: 89%;
    outline: none;
    border: none;
    padding: 0.97em 0.8em;
    font-size: 1em;
    color: #999;
    float: left;
    border-right: 1px solid #ADADAD;
}

.grid-contact-in textarea {
    border: 1px solid #ADADAD;
    resize: none;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1em;
    padding: 0.8em;
    min-height: 168px;
}

.grid-contact-in input[type="submit"] {
    width: 100%;
    font-size: 1.1em;
    background: #062f3c;
    padding: 0.7em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    font-weight: 700;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}

.grid-contact-in input[type="submit"]:hover {
    background: #007ea3;
}

.contact {
    background: #F6F9FD;
    padding: 5em 0;
}

.google-map {
    margin-top: 3em;
}

.google-map iframe {
    border: none;
    outline: none;
    width: 100%;
    height: 300px;
}

.copy-section {
    padding: 2em 0;
    background: #007ea3;
    text-align: center;
}

.copy-section p {
    font-size: 0.9em;
    color: #fff;
    font-weight: 400;
}

.copy-section a {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: -100%;
    background: url("../images/to-top2.png") no-repeat 0px 0px;
}

@media (max-width: 1440px) {
    .banner-section {
        min-height: 617px;
    }

    .banner-heder {
        margin: 14em 0 3em;
    }
}

@media (max-width: 1366px) {
    .banner-section {
        min-height: 608px;
    }
}

@media (max-width: 1280px) {
    .banner-section {
        min-height: 568px;
    }

    .banner-heder {
        margin: 12em 0 3em;
    }
}

@media (max-width: 1080px) {
    .banner-section {
        min-height: 477px;
    }

    .banner-heder {
        margin: 8em 0 3em;
    }

    .banner-grid {
        padding: 0 2px;
    }

    .promation-grid p, .about-grid1 p, .featured-grd p, .team_gd1 p, .news-grid p, .news-gr p {
        font-size: .96em;
    }

    h2.tittle {
        font-size: 3em;
    }

    h3.tittle {
        font-size: 3em;
    }

    .about-grid1 h4 {
        font-size: 1.5em;
    }

    .contact-grids input[type="text"] {
        width: 88%;
    }
}

@media (max-width: 1024px) {
    .banner-grids {
        padding: 2em 1em 2em 2em;
    }
}

@media (max-width: 991px) {
    .banner-grid {
        float: left;
        width: 18%;
    }

    .banner-grids {
        padding: 2em 1em 2em 2em;
    }

    .search {
        float: left;
        width: 28%;
    }

    .banner-heder h3 {
        font-size: 2.8em;
    }

    .sel {
        padding: .3em .8em;
        font-size: .9em;
    }

    .banner-section {
        min-height: 436px;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 1.1em;
        margin: 0 0.5em;
    }

    .promation-grid {
        float: left;
        width: 33.3%;
    }

    .promation-grid h4 {
        font-size: 1.3em;
    }

    .promotions, .about-section, .gallery, .team, .news, .contact {
        padding: 4em 0;
    }

    .about-grid {
        float: left;
        width: 40%;
    }

    .about-grid1 {
        float: left;
        width: 60%;
    }

    .about-left {
        float: left;
        width: 21%;
    }

    .about-right {
        float: left;
        width: 79%;
    }

    .featured-grid {
        float: left;
        width: 50%;
    }

    .featured-grid:nth-child(3), .featured-grid:nth-child(4) {
        margin-top: 2em;
    }

    .da-thumbs li a div h5 {
        margin: 2.3em 0 0 0;
    }

    .team_gd1 {
        float: left;
        width: 25%;
    }

    .team_info a i.fc1 {
        background: url(../images/social2.png) no-repeat -46px -3px #3b5998;
        width: 36px;
        height: 36px;
    }

    .team_info a i.fc2 {
        background: url(../images/social2.png) no-repeat -3px -3px #55acee;
        width: 36px;
        height: 36px;
    }

    .team_info a i.fc3 {
        background: url(../images/social2.png) no-repeat -84px -3px #dc4e41;
        width: 36px;
        height: 36px;
    }

    .news-grid {
        float: left;
        width: 33.3%;
    }

    .grid-contact {
        float: left;
        width: 50%;
    }

    .grid-contact-in {
        float: left;
        width: 50%;
    }

    .contact-grids input[type="text"] {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .banner-section {
        min-height: 343px;
    }

    .banner-heder {
        margin: 5em 0 3em;
    }
}

@media (max-width: 736px) {
    div#bs-example-navbar-collapse-1 {
        float: none;
    }

    .navbar-toggle {
        margin-top: 2px;
    }

    .navbar-toggle {
        background-color: #062f3c;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #062f3c;
    }

    .navbar-default .navbar-toggle {
        border-color: #062f3c;
    }

    .banner-heder h3 {
        font-size: 2.5em;
    }

    .sel {
        padding: .3em .2em;
        font-size: .9em;
    }

    .banner-grids {
        padding: 2em 1em 2em 1.5em;
    }

    .search {
        float: left;
        width: 27%;
        padding: 0 0px 0 2px;
    }

    .contact-grids input[type="text"] {
        width: 84%;
    }

    .google-map iframe {
        height: 250px;
    }

    h3.tittle {
        font-size: 2.8em;
    }

    h2.tittle {
        font-size: 2.8em;
    }

    .promotions span {
        font-size: 1.2em;
    }

    .promotion-grids, .about-grids, .gallery-grids, .contact-grids, .news-grids, .team_gds {
        margin-top: 3em;
    }
}

@media (max-width: 667px) {
    .da-thumbs li a div h5 {
        margin: 2em 0 0 0;
    }

    .team_gd1 {
        float: left;
        width: 50%;
    }

    .team_gd1:nth-child(3), .team_gd1:nth-child(4) {
        margin-top: 2em;
    }

    .team_info {
        top: 45%;
    }

    .news-grid h4 {
        font-size: 1.3em;
    }

    .contact-grids input[type="text"] {
        width: 83%;
    }

    .promotions, .about-section, .gallery, .team, .news, .contact {
        padding: 3em 0;
    }

    .about-grid {
        float: left;
        width: 100%;
    }

    .about-grid img {
        margin: 0 auto;
    }

    .about-grid1 {
        float: left;
        width: 100%;
        margin-top: 2em;
    }
}

@media (max-width: 640px) {
    .da-thumbs li a div h5 {
        margin: 1.8em 0 0;
    }

    .prom-left {
        padding: 0.5em;
    }

    .prom-right {
        padding: 0.5em;
    }

    .new-bottom {
        padding: 0.5em
    }

    .banner-grids {
        padding: 2em 1em 2em 1.5em;
    }

    .sel {
        padding: .3em .1em;
    }

    .news-grid p {
        padding: 1em .5em 1em;
    }

    .contact-grids input[type="text"] {
        width: 82%;
    }
}

@media (max-width: 600px) {
    .banner-grid {
        float: left;
        width: 25%;
    }

    .search {
        margin: 0em auto;
        float: none;
    }

    .search input[type="submit"] {
        margin-top: .5em;
    }

    .banner-grids {
        background: rgba(95, 109, 133, 0.8);
        padding: 1em 1em 0.5em;
    }

    .da-thumbs li a div h5 {
        color: #fff;
        font-size: 1.5em;
    }

    h3.tittle1 {
        font-size: 2.5em;
    }

    h2.tittle {
        font-size: 2.5em;
    }

    h3.tittle {
        font-size: 2.5em;
    }

    .banner-heder h3 {
        font-size: 2em;
    }

    .contact-grids input[type="text"] {
        width: 81%;
    }
}

@media (max-width: 568px) {
    .banner-section {
        background: url(../images/ba1.jpg) no-repeat -96px 0px;
        background-size: cover;
    }

    .news-grid {
        float: left;
        width: 100%;
    }

    .navbar-default {
        margin-top: 5px;
    }

    .navbar-brand {
        padding: 4px 0px;
    }

    .news-grid:nth-child(2) {
        margin: 2em 0;
    }

    .contact-grids input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .search {
        width: 35%;
    }

    .navbar-toggle {
        margin-top: 7px;
    }

    .banner-heder h3 {
        line-height: 1.5em;
    }

    .promotion-grids, .about-grids, .gallery-grids, .contact-grids, .news-grids, .team_gds {
        margin-top: 2em;
    }

    .promation-grid {
        width: 100%;
    }

    .da-thumbs li {
        width: 48.4%;
    }

    .da-thumbs li a div h5 {
        margin: 2.5em 0 0;
    }

    .contact-grids input[type="text"] {
        width: 77%;
    }

    .grid-contact-in textarea {
        min-height: 152px;
    }

    .featured-grd h5 {
        line-height: 1.5em;
    }

    .effect6 {
        padding: 4px 40px;
    }

    .promation-grid {
        width: 100%;
    }

    .promation-grid:nth-child(2) {
        margin: 2em 0;
    }
}

@media (max-width: 414px) {
    .banner-heder h3 {
        font-size: 1.8em;
    }

    .banner-grid {
        width: 100%;
    }

    .banner-heder {
        margin: 5em 0 1em;
    }

    .search {
        width: 40%;
    }

    .banner-grid:nth-child(2), .banner-grid:nth-child(3), .banner-grid:nth-child(4) {
        margin-top: 0.5em;
    }

    .logo a {
        font-size: 0.9em;
    }

    .featured-grid {
        width: 100%
    }

    .featured-grid:nth-child(2) {
        margin-top: 2em;
    }

    .about-grid1 h4 {
        font-size: 1.35em;
    }

    .effect6 {
        line-height: 25px ! important;
        padding: 4px 20px;
        font-size: 0.9em;
    }

    .da-thumbs li {
        padding: 4px;
        position: relative;
        width: 49%;
    }

    .promotion-grids, .about-grids, .gallery-grids, .contact-grids, .news-grids, .team_gds {
        margin-top: 2em;
    }

    .featured-grids {
        margin: 2em 0 0;
    }

    .da-thumbs li a div h5 {
        margin: 2.2em 0 0 0;
    }

    .team_gd1 h4 {
        margin: 10px 0 7px;
    }

    .grid-contact {
        width: 100%;
        padding: 0;
    }

    .grid-contact-in {
        width: 100%;
        margin-top: 1em;
        padding: 0;
    }

    .contact-grids input[type="text"] {
        width: 85%;
    }

    .your-top:nth-child(2) {
        margin: 1em 0;
    }

    h2.tittle {
        font-size: 2em;
    }

    h3.tittle {
        font-size: 2em;
    }

    h3.tittle1 {
        font-size: 2em;
    }

    .promotions, .about-section, .gallery, .team, .news, .contact {
        padding: 2em 0;
    }

    .team_info {
        left: -3px;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        width: 100%;
        text-align: center;
        margin-top: 1.5em;
    }

    .copy-section p {
        line-height: 1.8em;
    }
}

@media (max-width: 384px) {
    .banner-heder h3 {
        font-size: 1.5em;
    }

    .logo a {
        font-size: 0.85em;
    }

    .search {
        width: 47%;
    }

    .banner-heder {
        margin: 3em 0 1em;
    }

    .promotions span {
        font-size: 1em;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        width: 100%;
        margin-top: 1em;
        text-align: center;
    }

    .da-thumbs li a div h5 {
        margin: 2em 0 0 0;
    }

    .team_info {
        top: 43%;
        left: -3px;
    }

    .contact-grids input[type="text"] {
        width: 84%;
    }
}

@media (max-width: 375px) {
    .team_gd1 {
        width: 100%;
    }

    .team_gd1:nth-child(2) {
        margin-top: 2em;
    }

    .contact-grids input[type="text"] {
        width: 84%;
    }

    .team_info {
        top: 46%;
        left: -3px;
    }
}

@media (max-width: 320px) {
    .banner-heder h3 {
        font-size: 1.4em;
    }

    .logo a {
        font-size: 0.83em;
    }

    .search {
        width: 57%;
    }

    .promation-grid, .about-grid, .about-grid1, .featured-grid, .news-grid, .team_gd1, .grid-contact, .grid-contact-in {
        padding: 0;
    }

    .da-thumbs li {
        width: 100%;
    }

    .da-thumbs li a div h5 {
        margin: 3.5em 0 0 0;
    }

    .about-grid1 h4 {
        line-height: 1.5em;
    }

    .contact-grids input[type="text"] {
        width: 83%;
    }

    .google-map iframe {
        height: 200px;
    }
}

/* Search Form
------------------------- */
.search-form {
    background: #005d7d;
    margin-bottom: 52px;
    position: relative;
    top: -115px;
    z-index: 15;
}

.search-form .nav-tabs {
    position: relative;
    top: -30px;
    border-bottom: none;
}

.search-form .tab-content {
    position: relative;
    top: -25px;
    padding-top: 15px;
}

.search-form .nav-tabs > li {
    width: 14%;
}

.search-form .nav-tabs > li > a {
    background: #00435e;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: none;
    margin-right: 3px;
    padding: 6px;
    border-radius: 0px;
}

.search-form .nav-tabs > li > a:hover {
    background: #00364b;
}

.search-form .nav-tabs > li.active > a, .search-form .nav-tabs > li.active > a:hover, .search-form .nav-tabs > li.active > a:focus {
    background: #005d7d;
    border: none;
}

.search-form .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
}

.search-form .form-group {
    padding: 0px 3px;
}

.search-form label {
    color: #fff;
}

.search-form .btn.btn-primary {
    margin-top: 25px;
}

.search-form #flight .col-xs-4 {
    padding-right: 30px;
    padding-left: 0px;
}

.search-form #flight .col-xs-4 > .col-xs-4 {
    padding: 0 3px;
}

.search-form #flight .radio:first-child {
    margin-top: 20px;
}

.search-form #flight .btn {
    margin-top: 30px;
}

.col-radio, .search-form #flight .radio-inline:first-child {
    padding-left: 0px;
}

.search-form #flight .radio-inline {
    padding-bottom: 10px;
}

.search-form #hotel .col-xs-4 {
    padding-right: 4px;
    padding-left: 0px;
}

/* Search Result
-------------------------------------------------- */
.result-search-form {
    margin-top: 144px;
    margin-bottom: 0px;
}

.search-result#flight h3 {
    margin-bottom: 5px;
}

.search-result#flight .filter .panel-heading {
    background: #c1c1c1;
    border-radius: 0;
}

.search-result#flight .filter .collapsed {
    background: #D8D8D8;
}

.search-result#flight .filter .panel-heading:hover {
    background: #c1c1c1;
}

.search-result#flight .filter .panel-heading h4 {
    font-size: 20px;
}

.search-result#flight .filter .panel-body {
    background: #ECECEC;
}

.search-result#flight .filter .btn {
    width: 100%;
}

.search-result#flight .sort-result ul li {
    background: #f1f1f1;
    border: 1px solid #D8D8D8;
    float: left;
    padding: 10px 15px;
    width: 20%;
    border-right: none;
}

.search-result#flight .sort-result ul li:last-child {
    border-right: 1px solid #D8D8D8;
}

.search-result .title {
    margin-bottom: 20px;
}

.search-result#flight #return .sort-result ul li {
    width: 20%;
}

.search-result#flight #return .sort-result ul li:last-child {
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.search-result#flight #return .flightResult .result-list-oneway li.price {
    width: 30%;
}

.search-result#flight #return .flightResult .result-list-oneway li.cta {
    width: 30%;
}

.search-result#flight #return .flightResult .result-list-oneway li.cta .btn {
    display: inline;
}

.search-form.change-search-form {
    top: 0px;
    margin-bottom: 0;
    padding: 0px;
}

.search-form.change-search-form .container {
    padding: 20px 35px 10px;
}

.change-search-form {
    background-color: #E2E2E2;
    padding: 30px 0 15px;
}

.change-search-form label {
    color: inherit;
}

.highlight-wrapper.document-wrap {
    margin-top: 95px;
    padding: 40px 0 10px;
    background: #0153A5;
}

.highlight-wrapper.document-wrap table {
    line-height: 2;
    font-weight: bold;
}

.highlight-wrapper.document-wrap a, .highlight-wrapper.document a:active, .highlight-wrapper.document a:focus {
    color: #F9992B;
    font-weight: bold;
    text-decoration: none;
}

.highlight-wrapper.document-wrap a:hover {
    color: #F19226;
    text-decoration: none;
}

.document-tab-wrap {
    background-color: #0153A5;
    padding-top: 20px;
}

.document-tab-wrap .nav-tabs li {
    margin-bottom: 0px;
}

.tour-detail-content.document-content {
    top: 0px;
}

.tour-detail-content.document-content h4 {
    font-size: 26px;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.tour-detail-content.document-content .tab-pane#documentRequirement h4 {
    margin-bottom: 20px !important;
}

.tour-detail-content.document-content .tab-pane#documentRequirement ul li::before {
    content: none
}

.tour-detail-content.document-content #documentRequirement ol li {
    list-style: normal;
    margin: 8px 0 8px -15px;
}

.tour-detail-content.document-content #documentRequirement ul li {
    list-style: disc;
    margin-left: 40px;
}

.bottom-marketing {
    text-align: center;
}

.bottom-marketing h2 {
    margin-bottom: 30px !important;
}

.bottom-marketing h4 {
    font-size: 20px !important;
}

.bottom-marketing .text {
    margin-top: 20px;
}

/* Search Result Filter
-------------------------------------------------- */
#filterAccordion {
    margin-bottom: 5px;
}

.search-result-tcp .filter-left {
    padding-left: 0px;
    padding-right: 0px;
}

.search-result-tcp .filter-left .label, .search-result-tcp .filter-left .content {
    background: #ECECEC;
    padding: 5px 20px;
    margin-bottom: 5px;
    display: block;
    color: #2e2f33;
    text-align: left;
}

.search-result-tcp .filter-left .label h4 {
    font-size: 22px;
    margin: 5px 0px;
}

.search-result-tcp .filter-left .content .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    position: relative;
}

.search-result-tcp .filter-left .content h4 {
    margin-bottom: 5px;
}

.search-result-tcp .filter-left .content ul {
    margin-bottom: 0px;
}

.search-result-tcp .filter-left .content ul li {
    line-height: 1.2;
}

.search-result-tcp .filter-left .content .input-icon {
    top: 40px;
}

.search-result-tcp #searchResult .featurette .col-xs-4 {
    padding-right: 0;
    margin-bottom: 15px;
    position: relative;
}

.search-result-tcp #searchResult .featurette .duration {
    background-color: #1053A4;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 700;
}

.search-result-tcp #searchResult h3 {
    margin-bottom: 16px;
    margin-top: 8px;
}

.search-result-tcp #searchResult .title .col-xs-6 {
    padding-right: 0;
}

.search-result-tcp #searchResult .title .input-icon {
    top: 5px;
}

.search-result-tcp #searchResult nav {
    display: inline-block;
    margin-left: 15px;
}

/* Return Result Filter
-------------------------------------------------- */

.result-list-return .filter .panel-heading {
    background: #c1c1c1;
    border-radius: 0;
}

.result-list-return .filter .collapsed {
    background: #D8D8D8;
}

.result-list-return .filter .panel-heading:hover {
    background: #c1c1c1;
}

.result-list-return .filter .panel {
    border: none;
}

.result-list-return .filter .panel-body {
    background: #ECECEC;
}

/* Search Result List
-------------------------------------------------- */

.flightResult {
    margin-top: 5px;
}

.flightResult .result-list-oneway ul.panel-heading {
    background: #eaf3fd;
}

.flightResult .result-list-oneway ul.panel-heading:hover {
    background: #eaf3fd;
}

.flightResult .result-list-oneway ul.collapsed {
    background: #fff;
}

.flightResult .result-list-oneway ul {
    margin: 0px;
    padding: 15px 0;
}

.flightResult .result-list-oneway li {
    display: inline-block;
    vertical-align: top;
}

.flightResult .result-list-oneway li b {
    font-size: 22px;
}

.flightResult .result-list-oneway li.airline-logo {
    width: 17.5%;
    text-align: center;
    padding: 0 7px;
}

.flightResult .result-list-oneway li.depature-time {
    width: 15%;
}

.flightResult .result-list-oneway li.right-angle {
    width: 2%;
    font-size: 26px;
}

.flightResult .result-list-oneway li.arrival-time {
    width: 15%;
}

.flightResult .result-list-oneway li.duration {
    width: 16%;
}

.flightResult .result-list-oneway li.price {
    width: 15%;
}

.flightResult .result-list-oneway li.price .finalPrice {
    color: #c50000;
    line-height: 1;
}

.flightResult .result-list-oneway li.price .normalPrice {
    text-decoration: line-through;
    color: #2E2F33;
    font-weight: 500;
}

.flightResult .result-list-oneway li.price .discountPrice {
    color: #1C6300;
    font-weight: 500;
}

.flightResult .result-list-oneway li.cta {
    width: 17%;
    text-align: center;
    color: #337ab7;
}

.flightResult .result-list-oneway li.cta:hover {
    text-decoration: underline;
}

.flightResult .result-list-oneway li.cta .btn {
    width: 80%;
    margin-bottom: 5px;
}

.flightResult .result-list-oneway li.cta #selectedBtn {
    background: green;
    cursor: default;
}

.flightResult .detail-item {
    text-align: center;
}

.flightResult .detail-item .row {
    margin: 15px 0;
}

.flightResult .detail-item .flight-facility {
    text-align: left;
}

.flightResult .detail-item .flight-facility ul {
    padding-top: 5px;
}

.flightResult .detail-item .flight-facility li {
    width: 100%;
}

.flightResult .detail-item .flight-facility .fa-stack {
    margin-right: 5px;
}

.flightResult .detail-item b {
    font-size: 20px;
}

.flightResult .detail-item .city-code {
    margin-top: 25px;
}

.flightResult .detail-item img {
    margin: 0px auto;
}

.flightResult .detail-cta {
    background: #cfd2d7;
}

.flightResult .detail-cta li {
    width: 100%;
}

.flightResult .detail-cta li .btn {
    margin-top: 10px;
}

.flightResult .result-list-oneway .flight-detail {
    background: #dee2e7;
    border-top: none;
}

.result-list-return {
    padding: 0px;
}

.result-list-return #resultListDepart .row {
    margin-right: -5px;
}

.result-list-return #resultListReturn .row {
    margin-left: -5px;
}

.result-list-return .title {
    padding: 5px 15px;
    background: #1053A4;
    color: #fff;
}

.result-list-return .sort-result ul li {
    background: #f1f1f1;
    border: 1px solid #D8D8D8;
    float: left;
    padding: 10px 15px;
    width: 16.66%;
    border-right: none;
}

.result-list-return .sort-result ul li:last-child {
    border-right: 1px solid #D8D8D8;
    border-left: none;
}

.result-list-return .sort-result ul li {
    width: 20%;
}

.result-list-return .sort-result ul li:last-child {
    border-right: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
}

.result-list-return .flightResult .result-list-oneway li b {
    font-size: 18px;
}

.result-list-return .flightResult .result-list-oneway li.price {
    width: 29%;
}

.result-list-return .flightResult .result-list-oneway li.airline-logo {
    width: 21%;
    padding: 0 5px;
    font-size: 12px;
}

.result-list-return .flightResult .result-list-oneway li.cta {
    width: 20%;
}

.result-list-return .flightResult .result-list-oneway li.duration {
    width: 100%;
    font-size: 12px;
}

.result-list-return .flightResult .result-list-oneway li.direction {
    width: 27%;
}

.result-list-return .flightResult .result-list-oneway li.direction ul {
    padding: 0px;
}

.result-list-return .flightResult .result-list-oneway li.direction li.depature-time {
    width: 35%;
}

.result-list-return .flightResult .result-list-oneway li.direction li.right-angle {
    font-size: 35px;
    width: 20%;
}

.result-list-return .flightResult .result-list-oneway li.direction li.arrival-time {
    width: 35%;
}

.result-list-return .flightResult .detail-item .col-xs-8, .result-list-return .detail-item .col-xs-4 {
    padding-left: 0px;
}

.result-list-return .flightResult .detail-cta ul:first-child {
    padding-bottom: 0px !important;
}

.result-list-return .flightResult .detail-cta {
    padding-bottom: 15px !important;
}

#summaryModal .modal-header {
    background: #1053A4;
    color: #fff;
}

#summaryModal .close {
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-top: -4px;
}

#summaryModal .cta {
    background: #F1F1F1;
    padding: 15px 5px;
    border-top: none;
}

#summaryModal .cta ul {
    margin-bottom: 0px;
    text-align: right;
}

#summaryModal .price b {
    color: #c50000;
    font-size: 22px;
}

#summaryModal .btn {
    padding: 15px 9px;
}

/*#flightReturnSummary {padding:0px 15px;}*/
#flightReturnSummary .panel-group .panel + .panel {
    margin-top: 0px;
}

#flightReturnSummary .flightResult {
    margin-top: 0;
    margin-bottom: 0;
}

#flightReturnSummary .flightResult .panel-default {
    border-bottom: none;
}

#flightReturnSummary .flightResult .panel-default:first-child {
    border-top: none;
}

#flightReturnSummary .flightResult .result-list-oneway li.label {
    width: 11%;
    padding-top: 7px;
}

#flightReturnSummary .flightResult .result-list-oneway li.label b {
    color: #333333;
}

#flightReturnSummary .flightResult .result-list-oneway li.label span {
    color: #337ab7;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    font-weight: normal;
}

#flightReturnSummary .flightResult .result-list-oneway li.label span:hover {
    text-decoration: underline;
}

#flightReturnSummary .flightResult .result-list-oneway li.duration {
    width: 11%;
}

#flightReturnSummary .flightResult .result-list-oneway li.price {
    width: 25%;
}

#flightReturnSummary .flightResult .result-list-oneway li.airline-logo {
    padding: 0 5px;
    font-size: 12px;
}

#flightReturnSummary b {
    font-size: 16px;
}

/* Tour
-------------------------------------------------- */
.highlight-wrapper {
    margin-top: 94px;
    padding: 40px 0 90px;
    background: #0153A5;
}

#tourDetailCarousel .item img {
    height: 350px;
    width: 100%;
}

.tour-detail-carousel {
    padding-left: 0px;
}

.tour-detail-carousel .carousel {
    margin-top: 0px;
}

.tour-detail-carousel .carousel-indicators {
    bottom: 15px;
}

.tour-detail-highlight {
    color: #fff;
}

.tour-detail-highlight h1 {
    margin: 0 0 10px;
}

.tour-detail-highlight p.highlight {
    margin: 0 0 15px;
}

.tour-detail-highlight ul {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.tour-detail-highlight ul li {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    font-size: 16px;
}

.tour-detail-highlight ul li i {
    color: #FF8926;
    font-size: 25px;
    width: 30px;
    text-align: center;
    position: relative;
    top: 3px;
}

.tour-detail-highlight ul li i.fa-clock-o {
    display: inline-block
}

.tour-detail-highlight ul li.inline {
    margin-right: 15px;
}

.tour-detail-highlight label {
    margin-bottom: 10px;
}

.tour-detail-highlight .form-group div {
    margin: 0px;
    padding-right: 5px;
    padding-left: 0px;
}

.tour-detail-highlight .form-group div:last-child {
    padding-right: 0px;
}

.tour-detail-highlight .form-group .input-icon {
    top: 5px;
}

.tour-detail-highlight img.country-flag {
    margin-right: 10px;
    width: 50px
}

.tour-detail-content {
    position: relative;
    top: -56px
}

.tour-detail-content .nav > li > a {
    padding: 15px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #053772;
    color: #fff;
    margin-right: 4px;
    border: none;
}

.tour-detail-content .nav > li > a:hover {
    border: none;
    background-color: #0C4487;
}

.tour-detail-content .nav-tabs {
    border-bottom: none;
}

.tour-detail-content .nav-tabs > li.active > a, .tour-detail-content .nav-tabs > li.active > a:hover, .tour-detail-content .nav-tabs > li.active > a:focus {
    color: #F9992B;
    background-color: #fff;
    border: none;
}

.tour-detail-content .tab-pane {
    padding: 30px 0;
}

.tour-detail-content .tab-pane h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 30px;
}

.tour-detail-content #action li {
    display: inline-block;
    margin-right: 15px;
}

.tour-detail-content #action li i {
    width: 25px;
    font-size: 22px;
}

.tour-detail-content #action li:before {
    content: none;
}

.tour-detail-content .item {
    margin: 25px 0 35px;
}

.tour-detail-content .tab-pane img {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin-right: 20px;
}

.tour-detail-content .tab-pane ul {
    display: inline-block;
    vertical-align: top;
}

.tour-detail-content .tab-pane ul li {
    line-height: 1.8;
}

.tour-detail-content .tab-pane ul li:before {
    font-family: FontAwesome;
    content: "\f0c8";
    margin-right: 10px;
}

.tour-detail-content table.total #price {
    text-align: right;
}

.tour-detail-content #price table {
    width: 100%;
}

.tour-detail-content #price table tr th {
    background-color: #ECECEC;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 15px;
}

.tour-detail-content #price table tr td {
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.tour-detail-content #price table tr td:last-child {
    text-align: right;
}

.tour-detail-content #price h5 {
    font-size: 16px;
    margin-top: 20px;
}

.tour-detail-content table {
    margin-bottom: 10px;
}

.tour-detail-content table .input-icon {
    right: 25px;
    top: 20px;
}

/*
.tour-detail-content table .form-control {background:#FCF8E3;}
*/
.tour-detail-content table.total {
    background: #DFF0D8;
    border: 1px solid #e7e7e7;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.tour-detail-content table.total #price {
    color: #c50000;
}

#embassyAddress {
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 20px 20px;
}

#embassyAddress h5 {
    font-size: 18px;
    text-transform: uppercase;
}

#embassyAddress table tr td {
    vertical-align: text-top;
    line-height: 24px !important;
}

#visaCountryList {
    margin-top: 50px;
}

#countryList {
    text-align: center;
    padding-top: 20px !important;
}

#countryList .col-xs-3 {
    margin-bottom: 20px;
}

#freeVisaList {
    text-align: center;
}

#freeVisaList table {
    margin: 20px auto 0;
}

#freeVisaList tr th {
    font-weight: 700;
    background-color: #425762;
    color: #fff;
    font-size: 16px;
}

#freeVisaList tr th, #freeVisaList tr td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 3px 70px;
}

#freeVisaList img {
    margin-right: 7px;
    margin-top: -5px;
}

#freeVisaList .country-name {
    text-align: left;
}

#freeVisaList small {
    display: block;
    line-height: 1.5;
    margin: 20px auto 0;
    width: 425px;
    font-size: 13px;
}

/* Hotel
-------------------------------------------------- */

.hotel-detail-carousel {
    padding-left: 0px;
}

.hotel-detail-carousel .carousel {
    margin-top: 0px;
}

.hotel-detail-carousel .carousel-indicators {
    bottom: 15px;
}

.hotel-result .item {
    border: 1px solid #D7D7D7;
    margin-left: 0;
    padding: 0px;
    margin-bottom: 15px;
}

.hotel-result .item div:first-child {
    padding-left: 0px;
    padding-right: 0px;
}

.hotel-result .item h4 {
    margin-bottom: 0;
    font-size: 22px;
    color: #FF8926;
}

.hotel-result .price {
    padding: 15px 0;
}

.hotel-result .price p {
    margin-bottom: 0px;
}

.hotel-result .price .currency {
    color: #C50000;
    font-weight: 700;
}

.hotel-result .price b {
    font-size: 22px;
    color: #C50000;
    line-height: 1.2;
}

.hotel-result .cta {
    margin-top: 10px;
    padding: 0px;
}

.hotel-result .cta .btn {
    padding: 15px;
}

.hotel-result .hotel-result-img {
    height: 174px;
    width: 100%;
}

.hotel-result .hotel-star {
    font-style: italic;
    color: #A6A6A6;
    margin-bottom: 5px;
}

.hotel-star .star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.hotel-star .star::before {
    color: #FFD320;
    content: "\f005";
    font-size: 23px;
    margin-right: -2px;
    position: relative;
    top: 2px;
}

#hotelDetailCarousel .item img {
    height: 350px;
    width: 100%;
}

.hotel-detail-highlight {
    color: #fff;
}

.hotel-detail-highlight h1 {
    margin: 0;
}

.hotel-detail-highlight p.highlight {
    border-bottom: 1px solid;
    margin: 0 0 15px;
    padding-bottom: 15px;
}

.hotel-detail-highlight p.hotel-address {
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    font-size: 16px;
}

.hotel-detail-highlight p.hotel-address i {
    color: #FF8926;
    font-size: 25px;
    width: 22px;
    text-align: left;
    position: relative;
    top: 3px;
}

.hotel-detail-highlight label {
    margin-bottom: 10px;
}

.hotel-detail-highlight .form-group div {
    margin: 0px;
    padding-right: 5px;
    padding-left: 0px;
}

.hotel-detail-highlight .form-group div:last-child {
    padding-right: 0px;
}

.hotel-detail-highlight .form-group .input-icon {
    top: 5px;
}

.hotel-detail-highlight .price p {
    margin-bottom: 0px;
}

.hotel-detail-highlight .price .currency {
    font-weight: 700;
    font-size: 18px;
}

.hotel-detail-highlight .price b {
    font-size: 26px;
    line-height: 1.2;
}

.hotel-detail-highlight .btn {
    padding: 15px;
}

.hotel-detail-content {
    position: relative;
    top: -56px
}

.hotel-detail-content .nav > li > a {
    padding: 15px 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #053772;
    color: #fff;
    margin-right: 4px;
    border: none;
}

.hotel-detail-content .nav > li > a:hover {
    border: none;
    background-color: #0C4487;
}

.hotel-detail-content .nav-tabs {
    border-bottom: none;
}

.hotel-detail-content .nav-tabs > li.active > a, .hotel-detail-content .nav-tabs > li.active > a:hover, .hotel-detail-content .nav-tabs > li.active > a:focus {
    color: #F9992B;
    background-color: #fff;
    border: none;
}

.hotel-detail-content .tab-pane {
    padding: 30px 0;
}

.hotel-detail-content .tab-pane h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.hotel-detail-content .tab-pane ul {
    display: inline-block;
    vertical-align: top;
}

.hotel-detail-content .tab-pane ul li {
    line-height: 1.8;
}

.hotel-detail-content .tab-pane ul li:before {
    font-family: FontAwesome;
    content: "\f0c8";
    margin-right: 10px;
}

.hotel-detail-content #roomLabel {
    background-color: #D9EDF6;
    border: 1px solid #B4C6D0;
    padding: 15px 25px;
    margin-bottom: 20px;
}

.hotel-detail-content #roomLabel b {
    font-size: 16px;
}

.hotel-detail-content #roomLabel i.fa-stack-2x {
    font-size: 2.5em;
}

.hotel-detail-content #roomLabel i.fa-stack-1x {
    margin-top: 3px;
}

.hotel-detail-content #roomLabel p {
    margin: 0px;
    padding-left: 15px;
}

.hotel-detail-content .item {
    background: #fff;;
    border: 1px solid #D7D7D7;
    margin-left: 0;
    padding: 15px;
    margin-bottom: 15px;
}

.hotel-detail-content .item div {
    padding-left: 0px;
    padding-right: 0px;
}

.hotel-detail-content .item .left-content {
    padding-left: 15px;
    min-height: 175px;
}

.hotel-detail-content .item h4 {
    margin-bottom: 0px;
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-top: 0px;
}

.hotel-detail-content .price {
    padding: 15px 0;
    margin-top: 20px;
    text-align: right;
}

.hotel-detail-content .price p {
    margin-bottom: 0px;
}

.hotel-detail-content .price .currency {
    font-size: 22px;
    color: #C50000;
    font-weight: 700;
}

.hotel-detail-content .price b {
    font-size: 30px;
    color: #C50000;
    line-height: 1.2;
}

.hotel-detail-content .cta {
    margin-top: 10px;
    padding: 0px;
}

.hotel-detail-content .cta .btn {
    padding: 15px;
}

.hotel-detail-content .hotel-detail-content-img {
    height: 175px;
    width: 100%;
}

.hotel-detail-content .hotel-star {
    font-style: italic;
    color: #A6A6A6;
    margin-bottom: 5px;
}

.hotel-detail-content table {
    line-height: 2;
    margin: 10px 0;
}

.hotel-detail-content table tr th {
    width: 150px;
    display: block;
}

.hotel-detail-content .hotelTerm {
    position: absolute;
    bottom: 0px;
    color: #808080;
    font-weight: 700;
}

.hotel-detail-content .hotel-detail-map #map {
    width: 100%;
    height: 350px;
}

.hotel-detail-content .hotel-detail-map p {
    margin-top: 15px;
    font-weight: 700;
    font-size: 16px;
}

.hotel-detail-content .hotel-detail-map i {
    margin-right: 15px;
    color: #FF8926;
    font-size: 30px;
    position: relative;
    top: 3px;
}

.hotel-detail-content #checkIn i {
    margin-right: 10px;
}

.hotel-detail-content #checkIn span {
    margin-right: 25px;
    font-weight: 700;
}

.hotel-detail-content #checkIn {
    margin-bottom: 10px;
}
